.header {
    color: white;
    float: left;
    width: 97%;
    height: 10%;
    top: 15px;
    left: 10px;
}

.footer {
    background-color: gray;
    color: white;
    float: left;
    width: 97%;
    left: 10px;
}

.menu {
    width: 20%;
    position: absolute;
    left: 0%;
    top: 10%;
}

.contentmaster {
    top: 14%;
    width: 97%;
    height: 80%;
    left: 12px;
    bottom: 32px;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

li {
    float: left;
    border-right: 1px solid #bbb;
}

li:last-child {
    border-right: none;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover:not(.active) {
    background-color: green;
}

.login {
    float: right;
    position: relative;
    right: 1px;
    height: 30px;
    width: 30px;
}
.floatRight {
    float: right;
}
.floatLeft {
    float: left;
}
.home {
    height: 20px;
    width: 20px;
}
.profiletable{
    font-size:35px;
    width:100%;    
    padding:5px;
}
.cola {
    color: white;
    background-color: #0090ff;
    font-family:Centaur;
    width:50%;
}
.colb {
    color: white;
    background-color: #43b12f;
    width: 50%;
}
.textc {
    font-size: 35px;
    width: 90%;
    height: 100%;
    color: white;
    font-family: Centaur;
    background-color: #43b12f;
}
.bill{
    width:210mm;
    max-height:297mm;
}
.billto {
    width: 210mm;
    height: auto;
    font-family: "Times New Roman", Times, serif;
    font-size:20px;
    font-weight:bolder;
}
.billBody {
    width: 210mm;
    height: auto;
}
.billfoot{
    float:right;
    width:45mm;
}